<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- 
    
    acesse o link para visualizar melhor:


    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout File: PDF Documents in Iframe</title>
    <style>
        body{
            overflow: hidden;
            max-width: 1200px;
            height: 60vh;
            margin: auto;
        }

        iframe{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <iframe src="" frameborder="1" name="pdfs" onshow="olá"></iframe>
    <h1>
        
    </h1>
</body>
</html>