*{
    margin: 0;
    padding: 0%;
}

header{
    background: #222222;
    padding: 40px 25px;
}

nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

nav > a{
    color: white;
    text-decoration: none;
}