@charset 'UTF-8';

@font-face {
    font-family: 'fonte-texto1';
    src: url(../resources/fonts/fonte-texto1.ttf);
}

@font-face {
    font-family: 'fonte-texto2';
    src: url(../resources/fonts/fonte-texto2.ttf);
}

*{
    padding: 0px;
    margin: 0px;
}

body::-webkit-scrollbar{
    display: none;
}

/* Configurações Nav */

nav{
    background: #222222;
    padding: 30px 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav > a, #config-estilo-opcoes > a{
    font: normal normal 25px 'fonte-texto1';
    text-decoration: none;
    transition: 100ms;
    color: #38b6ff;
    margin: 0px 10px;
}

nav > a:hover, #config-estilo-opcoes > a:hover{
    text-decoration: underline;
}

nav > a:first-child, #estilo-titulo-close > h1{
    font: normal bold 30px 'fonte-texto2';
    color: white;
}

nav > a:last-child, #config-estilo-opcoes > a:last-child{
    color: white;
}

#config-display-equiv{
    display: none;
}

#config-margin-projetosdesign{
    margin-left: auto;
}

/* Configurações Opçoes ocultas inicial */

@keyframes animacaoOpcoes {
    from{
        transform: translateY(-500px);
    }
}

#config-display-opcoes{
    display: none;
}

#config-estilo-opcoes{
    background: #222222;
    text-align: center;
    margin-top: 1px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    animation: animacaoOpcoes 300ms 1;
}

#config-estilo-opcoes > a{
    font-size: 20px;
    padding: 10px;
}

#config-estilo-opcoes > a:hover{
    border-radius: 50px;
    background: white;
    color: black;
}

/* Configurações Main */

main{
    padding: 2px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Configurações da Barra Lateral */

@keyframes animacaoBarraLateral {
    from{
        transform: translateX(-500px);
    }
}

@keyframes animacaoBarraLateral2 {
    to{
        transform: translateX(-1000px);
    }
}

#display-div-barra-lateral{
    display: none;
}

#config-barra-lateral{
    background: #222222;
    height: 65dvh;
    width: 250px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    animation: animacaoBarraLateral 500ms 1;
}

#estilo-titulo-close{
    display: flex;
    align-items: center;
}

#estilo-titulo-close > h1{
    margin-left: 20px;
}

#estilo-titulo-close > button{
    font: normal bold 20px 'arial';
    background: black;
    padding: 15px 20px;
    margin-left: auto;
    color: white;
    border: none;
    transition: 200ms;
}

#estilo-titulo-close > button:hover{
    background: #383838a6;
    cursor: pointer;
}

/* Configurações de Conteúdos/Projetos */

#config-conteudos{
    background: black;
    overflow-y: auto;
    height: 48dvh;
}

#config-conteudos::-webkit-scrollbar{
    display: none;
}

#config-conteudos > h1{
    font: normal normal 25px 'fonte-texto2';
    transition: 100ms;
    color: #38b6ff;
    padding: 10px;
    display: flex;
    align-items: center;
}

#config-conteudos > h1:hover{
    background: white;
    cursor: pointer;
    color: black;
}

#config-conteudos > h1:active{
    font-size: 24px;
}

/* Configurações de Icones */
#config-icons{
    text-align: center;
    margin-bottom: 5px;
}

#config-icons > a > img:hover{
    box-shadow: 0px 0px 5px cyan;
    border-radius: 50px;
}

#config-icons > a > img:active{
    transform: scale(0.95);
}

/* Configurações iframe */