@charset 'UTF-8';

@font-face {
    font-family: 'fonte-texto1';
    src: url(../resources/fonts/fonte-texto1.ttf);
}

@font-face {
    font-family: 'fonte-texto2';
    src: url(../resources/fonts/fonte-texto2.ttf);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    background: #222222;
    padding: 30px 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav > a{
    font: normal normal 25px 'fonte-texto1';
    text-decoration: none;
    transition: 100ms;
    color: #38b6ff;
    margin: 0px 10px;
}

nav > a:hover{
    text-decoration: underline;
}

nav > a:first-child{
    font: normal bold 30px 'fonte-texto2';
    color: white;
}

nav > a:last-child{
    color: white;
}

#config-display-equiv{
    display: none;
}

#config-margin-projetosdesign{
    margin-left: auto;
}