@charset 'UTF-8';

@media screen and (min-width: 1366px){
    #config-iframe{
        height: 560px;
    }  
}

@media screen and (max-width: 780px) {
    nav > span > a, nav > a{
        font-size: 20px;
    }

    #config-optionnav-especifico{
        font-size: 24px;
    }
}

@media screen and (max-width: 660px) {
    
    #config-display-span1{
        display: none;
    }

    #config-display-span2{
        display: block;
    }

    nav{
        padding: 0px 0px;
        margin: 0;
    }

    .config-options-js{
        display: none;
    }

    #config-optionnav-especifico{
        margin-left: 40px;
    }

    #config-menuoption{
        background: black;
        padding: 10px 30px;
        font-size: 50px;
        margin: 0;
    }

    /* Responsividade parte 2 */

    #config-elementos > div{
        padding: 15px 8px;
    }

    #config-elementos > div > span{
        font-size: 3vw;
    }
    
    .estilo-botoes{
        margin: 0px 0.5vw;
        padding: 1.5vw;
    }

    #config-iframe{
        height: 480px;
    }  

}

@media screen and (max-width: 495px) {
    #config-elementos{
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        justify-content: center;
    }
    
    #config-span-opcoes{
        margin-top: 10px;
        margin-left: 0;
    }
    
    #config-elementos > div{
        padding: 12px 10px;
        width: 90%;
    }

    #config-iframe{
        height: 69vh;
    }

}

@media screen and (max-width: 395px) {
    #config-iframe{
        height: 67vh;
    }

    #config-optionnav-especifico{
        font-size: 25px;
    }

    #config-menuoption{
        font-size: 40px;
    }
}