@charset 'UTF-8';

@media screen and (max-width: 730px) {
    /* Configurando responsividade parte 1 */

    nav > span > a, nav > a{
        font-size: 20px;
    }

    #config-optionnav-especifico{
        font-size: 24px;
    }
}

@media screen and (max-width: 630px) {
    
    #config-display-span1{
        display: none;
    }

    #config-display-span2{
        display: block;
    }

    nav{
        padding: 0px 0px;
        margin: 0;
    }

    .config-options-js{
        display: none;
    }

    #config-optionnav-especifico{
        margin-left: 40px;
    }

    #config-menuoption{
        background: black;
        padding: 10px 30px;
        font-size: 50px;
        margin: 0;
    }
}