@charset 'UTF-8';

@media screen and (min-width: 1366px) {
    #config-iframe, #config-barra-lateral{
        height: 75dvh;
    }
}

@media screen and (max-width: 690px) {
    nav{
        padding: 25px 15px;
    }

    nav > a{
        font-size: 20px; 
        margin: 0px 5px;
    }

    nav > a:first-child{
        font-size: 25px;
    }

    #config-conteudos, #config-barra-lateral{
        height: 450px;
    }



    #config-barra-lateral{
        background: #222222;
        height: 450px;
        width: 210px;
    }
    
    .estilo-config-categorias > details > summary{
        font-size: 18px;
    }

    #estilo-titulo-close > h1{
        font-size: 25px;
    }

    #config-conteudos > h1{
        font-size: 22px;
    }

}

@media screen and (max-width: 550px) {
    nav{
        padding: 0;
    }

    .itens-display-oculto, #config-display-designs{
        display: none;
    }

    #config-display-equiv{
        display: block;
    }

    nav > a:first-child{
        margin-left: 20px;
    }

    nav > a:last-child{
        margin: 0;
        font-size: 50px;
        padding: 5px 20px;
        margin-left: auto;
        background: black;
    }

    main{
        margin-top: 1px;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    /* Configurações de Responsividade da Barra Lateral de Tela max-width: 550px*/

    @keyframes animacaoBarraLateral {
        from{
            transform: translateY(-1000px);
        }
    }

    @keyframes animacaoBarraLateral2 {
        to{
            transform: translateY(-1000px);
        }
    }

    #estilo-titulo-close > h1{
        font-size: 25px;
    }

    #config-barra-lateral{
        height: 65dvh;
        width: 100dvw;
        margin: 0%;
        animation: animacaoBarraLateral 300ms 1;
    }

    #estilo-titulo-close > button{
        padding: 16px 27.5px;
        font-size: 20px;
    }

    #config-icons{
        padding: 5px;
        margin: 0;
    }

    #config-iframe{
        height: 490px;
        border: none;
        width: 100%;
    }

    #config-iframe{
        height: 69vh;
    }

    #estilo-mensagem-modal{
        height: 175px;
        width: 350px;
    }

    #estilo-mensagem-modal > img{
        width: 50px;
    }

    #estilo-mensagem-modal > p{
        margin: 10px 0px;
        font-size: 20px;
    }

    #estilo-mensagem-modal > button{
        padding: 10px 15px;
        font-size: 15px;
    }
}